<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create variety</title>
</head>
<body>
<form action="#" th:action="@{/variety-create}" th:object="${variety}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="weight">Net Weight</label>
    <input type="number" th:field="*{weight}" id="weight" placeholder="Net Weight">
    <label for="price">Price</label>
    <input type="number" th:field="*{price}" id="price" placeholder="Price">
    <input type="submit" value="Create variety">
</form>
</body>
</html>